#container {
  display: grid;
  justify-content: start;
  width: 500px;
  height: 500px;
}

.grid-item {
  /* display: grid; */
  background-color: black;
  transition-duration: .07s;
}

.hovered {
  background-color: grey;
}
